@import "../assets/globals.scss";

.profileform {
    display: flex;
    justify-content: center;
}

.profilecard {
    justify-content: center;
    background-color: rgba(100, 120, 147, 0.8);
    width: 40%;
    padding: 55px 0;
    margin: 50px;
    font-size: 20px;
    // font-weight: bold;
}

.forminput {
    padding: 4px;
    margin: 2.5px;
    font-size: 14px;
    font-weight: bold;
}

.profilebutton{
    margin: 4px 2px;
    padding: 8px;
    font-weight: bold;

}

@media screen and (max-width: $mobile-breakpoint) {
    .profileform {
        padding: 20px;
        font-size: 16px;
        margin: 10px;
    }

    .profilecard{
        margin: 10px;
        width: 70%;
        font-size: 12px;
    }
    .forminput {
        font-size: 12px;
        padding: 1px;
        width: 80%;
    }
    .profilebutton{
        padding: 4px;
    }
}