@import "../assets/globals";

.workoutCardContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.workoutCard {
    background-color: rgba(100, 120, 147, 0.8);
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}

.workoutButtonImg {
    height: 200px;
    width: 200px;
}
.createWorkoutButton {
    height: 200px;
    width: 200px;
}

.homeButtons {
    padding: 12px;
    border-radius: 8px;
    background-color: lightgrey;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.homeButtons.a{
    color: white;
}

.loginregButton{
    margin: 15px 3px;
    padding: 10px;
    border-radius: 7px;
    font-weight: bold;
    color: white;
}

a {
    color: black;
}

.homeButtons:hover {
    background-color: #BEC0C4;
    color: white;
}
