* {
  box-sizing: border-box;
}
header {
  background-color: rgb(81, 127, 173);
  text-align: left;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    color: #fff;
    transition: color 0.3s ease;

    &:hover {
      color: darken(#fff, 20%)
    }
  }

  .loggedInNav {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      padding: 0px 10px;
    }
  }
}