// @import "../../assets/globals";
// * {
//     box-sizing: border-box;
// }

.workoutsPageTitle {
    font-size: 50px;
}

.workoutDiv {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    flex-wrap: wrap;
    padding: 40px;
}
.workoutContainer {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    margin-bottom: 15px;
}

.workoutCard {
    background: rgba(100, 120, 147, 0.8);
    justify-content: center;
    border: solid 3px rgb(100, 120, 147);
    padding: 40px;
    width: 20rem;
}

.workoutCardtitle {
    font-size: 24px;
    font-weight: bold;
    font-style: underline;
    border: solid 2px white;
    padding: 12px;
}

.workoutCardtext {
    font-size: 20px;
}

.workoutCategory {
    padding: 10px;
    border: solid 1px white;
    font-size: 16px;
}

@media only screen and (max-width: 1080px) {
    .workoutDiv {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }
}